body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

.section-one{
    display: flex;
    margin-bottom: 150px;
}

.section-second{
    display: flex;
    margin-bottom: 150px;
}




.half-width{
    width: 45%;
    padding-left: 6%;

}

.hireme-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
.first-img{
    padding-top: 60px;
    padding-left: 30px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-left: -7px;
    margin-top: -7px;
}

.hireme-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.last-p{
    padding-bottom: 20px;
}

.botton{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-right: -12px;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;

}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}
.experience{
    padding-left: 110px;
}
body a{
    text-decoration: none;
}

.box-shadow{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left:5%;
    margin-right:5%;
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 10px;
    border-left: 10px solid;
}
h2{
    font-size: 45px;
}

h3{
    font-size: 20px;
}

#web-dev-exp{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    padding-bottom: 20px;
}
#full-dev-exp{
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
    padding-bottom: 20px;
}

footer p{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}


